/* .item-container{
    display: flex; 
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top:50px;  
    max-width: 800px;
    min-width: 500px;
} */

.todo-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 90%;
    max-width: 40rem;
}

.card {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: #fff;
    margin-top: 6rem;
    margin-left: 17rem;
}

.place-item__content {
    padding: 0!important;
}